::-webkit-scrollbar-track{
    -webkit-box-shadow: iset 0 0 6px rgba(0,0,0,0,3);
    border-radius: 0px;
    background-color: #0c2d41;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: #0c2d41;
}
::-webkit-scrollbar-thumb{
    border-radius: 0px;
    -webkit-box-shadow: iset 0 0 6px rgba(0,0,0,.3);
    background-color: #1a5d87;
}
#body {
    background-color: #0c2d41;
}
#contenedor_carga {
    background-color: #0c2d41;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    text-align: center;
    justify-content: center;
}
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.container-particles {
    position: relative;
    z-index: 99;
}
.img-title {
    width: 100px;
    border-radius: 50px;
}
.nav-link {
    text-decoration: none;
    color: white !important;
}
.nav-item {
    font-size: 20px;
}
.fa-ellipsis-v {
    color: whitesmoke;
}
.offcanvas-header {
    background-color: #112f42;
}
.offcanvas-title {
    color: rgb(253, 253, 182);
    font-size: 20px;
}
.fa-times {
    font-size: 20px;
    color: white;
    transition: all .3s ease-out;
}
.fa-times:hover {
    color: rgb(250, 53, 53);
}
.offcanvas-body {
    background-color: #0c2d41;
}
.icons {
    font-size: 25px;
    color: white;
}
.fa-facebook-f, .fa-instagram, .fa-linkedin-in {
    padding-right: 20px;
}
.fa-facebook-f:hover, .fa-instagram:hover, .fa-linkedin-in:hover, .fa-telegram-plane:hover {
    color: yellow;
    font-size: 30px;
}
#welcome {
    margin-top: 25%;
}
#welcome h1 {
    font-weight: bold;
    font-size: 70px;
}
.letters-one {
    color: white;
}
.letters-one:hover {
    color: yellow;
    font-size: 80px;
}
.letters-two {
    color: yellow;
}
.letters-two:hover {
    color: white;
    font-size: 80px;
}
.special-letter {
    color: #2bc8c8;
}
.special-letter:hover {
    color: white;
    font-size: 80px;
}
.letters-tree {
    color: white;
}
.letters-tree:hover {
    color: rgb(111, 0, 0);
    font-size: 80px;
}
.disabled-p {
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    margin-top: 5px;
}
#some_information {
    margin-top: 15%;
}
.hover-menu {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #060606;
    text-align: center;
    box-sizing: border-box;
}
.hover-menu * {
    box-sizing: border-box;
}
.hover-menu img {
    position: relative;
    max-width: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.hover-menu div {
    position: absolute;
    top: 0;
    left: -120px;
    width: 120px;
    height: 100%;
    padding: 8px 4px;
    background-color: #060606;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hover-menu div a {
    display: block;
    line-height: 2;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    position: relative;
    transition: 0.3s ease-in-out;
}
  
.hover-menu div a:hover {
    text-decoration: underline;
}
  
.hover-menu:hover img {
    opacity: 0.5;
    right: -120px;
}
  
.hover-menu:hover div {
    left: 0;
    opacity: 1;
}
#form {
    background-color: #2bc8c827;
    margin-top: 15%;
}
#form input {
    background: none;
    border-color: #2bc8c8;
}
#form textarea {
    background: none;
    border-color: #2bc8c8;
}
.btn-perso {
    border: 1px solid #2bc8c8;
    background-color: #2bc8c82f;
    border-radius: 1px;
    padding-left: 20px;
    padding-right: 20px;
}
#chartdiv {
    width: 100%;
    height: 350px;
}
#body_about {
    background-color: #0c2d41;
}
#some_information .card {
    background: none;
    border-color: #2bc8c8;
}
.fa-language, .fa-school, .fa-graduation-cap, .fa-clock {
    font-size: 80px;
    color: yellow;
}
.list-card {
    font-size: 20px;
}
#body_contact {
    background-color: #0c2d41;
}
#form_contact {
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: #2bc8c827;
}
#form_contact input {
    background: none;
    border-color: #2bc8c8;
}
#form_contact textarea {
    background: none;
    border-color: #2bc8c8;
}
/*COLORS*/
.color1 {color: #060606;}
.color2 {color: #0c2d41;}
.color3 {color: #1a5d87;}
.color4 {color: #2b99ca;}
.color5 {color: #2bc8c8;}