#body {
    background-color: #0c2d41;
}
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.container-particles {
    position: relative;
    z-index: 99;
}
.navbar-title {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 0, 0.426);
}
.navbar-title:hover {
    color: yellow
    ;
}
.nav-link {
    text-decoration: none;
    color: white !important;
}
.nav-item {
    font-size: 20px;
}
.fa-ellipsis-v {
    color: whitesmoke;
}
.offcanvas-header {
    background-color: #112f42;
}
.offcanvas-title {
    color: rgb(253, 253, 182);
    font-size: 20px;
}
.fa-times {
    font-size: 20px;
    color: white;
    transition: all .3s ease-out;
}
.fa-times:hover {
    color: rgb(250, 53, 53);
}
.offcanvas-body {
    background-color: #0c2d41;
}
.icons {
    font-size: 25px;
    color: white;
}
.fa-facebook-f, .fa-instagram, .fa-linkedin-in {
    padding-right: 20px;
}
.fa-facebook-f:hover, .fa-instagram:hover, .fa-linkedin-in:hover, .fa-telegram-plane:hover {
    color: yellow;
    font-size: 30px;
}
#welcome {
    margin-top: 25%;
}
#welcome h1 {
    font-weight: bold;
    font-size: 70px;
}
.letters-one {
    color: white;
}
.letters-one:hover {
    color: yellow;
    font-size: 80px;
}
.letters-two {
    color: yellow;
}
.letters-two:hover {
    color: white;
    font-size: 80px;
}
.special-letter {
    color: rgb(111, 0, 0);
}
.special-letter:hover {
    color: white;
    font-size: 80px;
}
.letters-tree {
    color: white;
}
.letters-tree:hover {
    color: rgb(111, 0, 0);
    font-size: 80px;
}
.disabled-p {
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    margin-top: 5px;
}
#some_information {
    margin-top: 15%;
}
.hover-menu {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #060606;
    text-align: center;
    box-sizing: border-box;
}
.hover-menu * {
    box-sizing: border-box;
}
.hover-menu img {
    position: relative;
    max-width: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.hover-menu div {
    position: absolute;
    top: 0;
    left: -120px;
    width: 120px;
    height: 100%;
    padding: 8px 4px;
    background-color: #060606;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hover-menu div a {
    display: block;
    line-height: 2;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    position: relative;
    transition: 0.3s ease-in-out;
}
  
.hover-menu div a:hover {
    text-decoration: underline;
}
  
.hover-menu:hover img {
    opacity: 0.5;
    right: -120px;
}
  
.hover-menu:hover div {
    left: 0;
    opacity: 1;
}
#form {
    background-color: #2bc8c827;
    margin-top: 15%;
}
#form input {
    background: none;
    border-color: #2bc8c8;
}
#form textarea {
    background: none;
    border-color: #2bc8c8;
}
/*COLORS*/
.color1 {color: #060606;}
.color2 {color: #0c2d41;}
.color3 {color: #1a5d87;}
.color4 {color: #2b99ca;}
.color5 {color: #2bc8c8;}