#body {
  background-color: #0c2d41;
  font-family: 'Noto Sans Mono', monospace;
}
.navbar-brand {
  color: #F6D167;
  transition: all .5s;
}
.navbar-brand:hover {
  color: #FFF7AE;
}
.nav-link {
  color: #F6D167 !important;
}
.nav-link:hover {
  color: #FFF7AE !important;
}