::-webkit-scrollbar-track {
  -webkit-box-shadow: iset 0 0 6px rgba(0, 0, 0, 0, 3);
  border-radius: 0px;
  background-color: #041C32;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #041C32;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: iset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #04293A;
}
#body {
  background-color: #0c2d41;
  font-family: 'Noto Sans Mono', monospace;
}
.navbar-brand {
  color: #F6D167;
  transition: all .5s;
}
.bg-blue {
  background-color: #04293A !important;
}
.navbar-brand:hover {
  color: #FFF7AE;
}
.nav-link {
  color: #F6D167 !important;
}
.nav-link:hover {
  color: #FFF7AE !important;
}
#panelMain .card {
  background-color: transparent !important;
  border: 1px solid #FFF7AE !important;
  border-radius: 0%;
  height: 80%;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter-effect {
  display: flex;
  justify-content: center;
  font-family: monospace;
  color: #F6D167;
  font-size: 30px;
}

.typewriter-effect > .text {
  max-width: 0;
  animation: typing 3s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;
}

.typewriter-effect:after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}
