#body {
  background-color: #0c2d41;
  font-family: 'Noto Sans Mono', monospace;
}
.abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-control {
  background-color: #fff !important;
}
